html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

[flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.walls {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wall .border {
    height: 30px;
    width: 130px;
    background: linear-gradient(to left, rgb(0, 199, 0), rgb(69, 194, 69));
    border: 2px solid black;
}

.wall .body {
    height: 150px;
    width: 110px;
    background: linear-gradient(to left, rgb(0, 199, 0), rgb(69, 194, 69));
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 70px;
    z-index: 10;
}